@import url('https://fonts.googleapis.com/css?family=Dokdo|Jura');





.game {

background-image: linear-gradient(to bottom right,#24C6DC, #514A9D);
display: flex;
flex-direction: column;
width: 90vw;
align-items: center;
border-radius: 10px;
color: #efefef;
height: 85vh;
margin: 3vh auto;
position: relative;
max-width:600px;
}

.mute {

    position: absolute;
    right:10px;
    top: 10px;
    width:42px;
    height:42px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right,#f7971e , #ffd200);
    text-align: center;
    transition: 400ms;
    }

.mute:hover {
    transform: scale(1.3) rotate(360deg);
    transition: 400ms;
    box-shadow: 1px 1px 5px -2px rgba(38,75,130,1);
}


.mute > i {

color: #fff;
line-height: 42px;
font-size: 25px;


}


.game > h1 {

    font-family: 'Dokdo', cursive;
    font-weight: normal;
    font-size: 5.5rem;
    margin: 7vh 0;
    text-align: center;
    line-height: 3.2rem;
}

.game > p {

    font-family: 'Jura', cursive;    
    font-size: 2rem;
    text-align: center;
}

.game > input {

width: 70%;
border: none;
padding: 3px 20px;
font-size: 2rem;
margin: 1vh 0;
font-family: 'Jura', cursive;    
border-radius: 10px;
color: #949494;
text-align: center;

}

.game > input:focus {

outline: none;
}  

.game > .guessSubmit {

background-image: linear-gradient(to bottom right,#f7971e , #ffd200);
width: 50%;
border: none;
padding: 3px;
font-size: 2rem;
margin: 0vh 0;
font-family: 'Jura', cursive;  
border-radius: 3px;  
color: #fff;
transition: 200ms;

}

.game > .guessSubmit:hover {

cursor: pointer;
transform: scale(1.05);
transition: 200ms;
box-shadow: 3px 3px 9px -2px rgba(38,75,130,1);
}

.game > button:focus {
    outline:none;
}

.game > .tries {

display: flex;

}



.game > .tries > .circle{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    background-image: linear-gradient(to bottom right,#f7971e , #ffd200);  
}


button {

    background-color:#efefef;
    width: 90vw;
    border: none;
    padding: 3px;
    font-size: 2rem;
    margin: 0 auto;
    font-family: 'Jura', cursive;  
    border-radius: 3px;  
    color: #fff;
    transition: 200ms;
    background-image: linear-gradient(to bottom right,#f7971e , #ffd200);    
    display: block;
    max-width:600px;
}


button:hover {

    cursor: pointer;
    transform: scale(1.05);
    transition: 200ms;
    box-shadow: 3px 3px 9px -2px rgba(38,75,130,1);
    }




@media only screen and (max-width: 400px) {




.game {


    width: 95vw;
    height: 90%;
    margin: 1vh auto;
    min-height: 550px;
    }

button {

width: 95vw;

}

.game > h1 {

    font-size: 3.2rem;
    line-height: 2rem;

}

.game > p {

font-size: 1.4rem;

}

.game > .tries > .circle{ 
    width: 15px;
    height: 15px;
}

.game > .guessSubmit {
    width: 80%;
    min-height: 50px;

}



}